body
  margin: 0
  color: white


.background
  background: url("background.png")
  background-size: cover
  height: 100vh
  -webkit-filter: grayscale(100%) blur(3px)
  filter: grayscale(100%) blur(3px)


.content
  position: absolute
  top: 0px
  left: 0px
