$turquoise: #ccffff 

.button-container.index
  display: flex
  flex-direction: right
  justify-content: space-evenly
  margin: 20px 0 0 0

.dropdown
  position: relative
  display: inline-block

.dropdown-content
  display: none
  position: absolute
  background-color: rgba(32,32,32,.6) 
  min-width: 160px
  z-index: 1
  a 
    color: white
    padding: 20px 0 10px 20px
    text-decoration: none
    display: block
    &:hover 
      background-color: black
      color: $turquoise 

.dropdown:hover 
  .dropdown-content 
    display: block
