.form-container
  display: flex
  justify-content: center
  
.form
  border: 2px solid white
  border-radius: 5px
  background-color: rgba(32,32,32,.6) 
  padding: 20px
  margin: 30px 0 0 0
  max-width: 320px
  
.textarea-new
  width: 300px
  height: 100px
  padding: 5px
  font-size: 14px
  color: black
  font-family: "Trebuchet MS", Helvetica, sans-serif

.textfield-new
  width: 300px
  padding: 5px
  font-size: 14px
  color: black
  font-family: "Trebuchet MS", Helvetica, sans-serif