<%# View for home page.  

Includes list of previous requests, each with a link 
to see request URLs and screenshot images %>

<h4> <%= link_to 'Make A Screenshot Request', new_screenshotreq_path %> </h4>
<h3>Stored Requests</h3>
<% @screenshotreqs.each do |request| %>
  <div>
    <p><%= request.name %>. <%= link_to 'Show', screenshotreq_path(request) %> &nbsp; <%= link_to 'Delete', screenshotreq_path(request), method: :delete%>
  </div>
<% end %>