<h2>Screenshot</h2>
<p>Software as a Service: Capture and store screenshot images at URLs of your choosing.</p>

<h4> <%= link_to 'Make A Screenshot Request', new_screenshotreq_path %> </h4>
<%# Link for new screenshot request page. %>

<h3>Stored Requests</h3>
<% @screenshotreqs.each do |screenshotreq| %>
  <div>
    <p><%= screenshotreq.name %>. <%= link_to 'Show', screenshotreq_path(screenshotreq) %> &nbsp; <%= link_to 'Delete', screenshotreq_path(screenshotreq), method: :delete%>
  </div>
<% end %>
<%# Show a history of all screenshotreqs with options to view and delete. %>