<div class="sub-title">
  Results  
  <div class="request-tag">
    Request by <%= @screenshotreq.name %>
  </div>
  <div class="delete-button">
    <%= link_to 'Delete', screenshotreq_path(@screenshotreq), method: :delete, class: "button-text"%>
  </div>
</div>

<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <p><%= screenshot.url %></p>
    <%=image_tag screenshot.image.variant(resize: "512x384")%>
  </div>
  
<% end %>
