<%# View for the URLs and images of a screenshot request. %>

<hr>
<h2>Stored request: <%= @screenshotreq.name %> </h2>

<hr>
<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <h4>Screenshot from <%= screenshot.url %></h4>
    <%=image_tag screenshot.image%>
  </div>
  <hr>
<% end %>
<%# Show a list of each captured screenshot with corresponding URL
associated with the screenshotreq. %>

