<div class="sub-title">
  Results  
</div>
<div class="request-container">
  <div class="request-tag">
    Request by <%= @screenshotreq.name %>
  </div>
  <div>
    <%= link_to 'Delete', screenshotreq_path(@screenshotreq), method: :delete, class: "button-text"%>
  </div>
</div>

<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <p><%= screenshot.url %></p>
    <%=image_tag screenshot.image, class: "images"%>
  </div>
<% end %>
