<h2>Request: <%= @screenshotreq.name %> </h2>
<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <p><%= screenshot.url %></p>
    <%=image_tag screenshot.img_path_short%>
  </div>
<% end %>

