<%# View for the URLs and images screenshot request. %>

<hr>
<h2>Request: <%= @screenshotreq.name %> </h2>

<hr>
<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <h4>Screenshot from <%= screenshot.url %></h4>
    <%=image_tag screenshot.image%>
  </div>
<% end %>
<%# Show a list of all captured screenshots with corresponding URL. %>

