<hr>
<h2>Stored request: <%= @screenshotreq.name %> </h2>

<hr>
<% @screenshotreq.screenshots.each do |screenshot| %>
  <div>
    <h4>Screenshot from <%= screenshot.url %></h4>
    <%=image_tag screenshot.image.variant(resize: "512x384")%>
  </div>
  <hr>
<% end %>
<%# Show a list of screenshot URLs with associated images %>
